* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(
    45deg,
    rgb(59, 28, 95),
    rgb(111, 53, 178),
    rgb(59, 28, 95)
  );
  overflow-x: hidden;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

header {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin: 2em 0;
  font-size: 1.3em;
}

h1 {
  background: linear-gradient(
    90deg,
    rgb(246, 255, 0),
    rgb(178, 178, 53),
    rgb(255, 251, 0)
  );
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: repeat;
  animation: glow 20s infinite;
}

@keyframes glow {
  0%,
  100% {
    background-size: 200px;
  }
  50% {
    background-size: 100px;
  }
}

article {
  text-align: center;
  font-size: 1.1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box-poster {
  display: none;
  padding: 10px;
  margin: 1rem 0;
}

.image-box {
  width: 100%;
  min-height: 400px;
  display: flex;
  gap: 10px;
}

img {
  width: 100%;
  max-height: 400px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

.content-box {
  width: 100%;
  border-radius: 5px;
}

#data_provider {
  color: gold;
}

svg {
  transition: transform 0.3s ease-in-out;
}
svg:hover {
  transform: scale(1.5);
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.app-info {
  margin: 2rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
}

nav {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background: rgb(239, 235, 255);
  font-size: 1.1em;
  transition: 0.3s ease-in-out;
  color: rgb(0, 0, 96);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  box-shadow: inset 2px 2px 10px 50px rgb(0, 0, 0);
  color: white;
  transform: scale(1.1);
}

button:focus {
  box-shadow: inset 2px 2px 10px 30px rgb(0, 0, 0);
  color: white;
  transform: scale(0.9);
}

footer {
  margin: 2rem 0 0 0;
  display: block;
  width: 100%;
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  border-top: 2px solid;
  color: white;
}

@media (max-width: 768px) {
  article {
    display: block;
  }

  .image-box {
    display: block;
    min-height: 50px;
  }

  .img-box {
    display: none;
  }

  .img-box-poster {
    display: block;
  }
}

.money {
  font-size: 1.1rem;
  position: absolute;
  transition: 1s ease-in-out;
  color: gold;
}
